/*
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome/fa-regular-400.eot?1601306170');
  src: url('../fonts/FontAwesome/fa-regular-400.eot?&1601306170#iefix') format('embedded-opentype'), url('../fonts/FontAwesome/fa-regular-400.ttf?1601306170') format('truetype'), url('../fonts/FontAwesome/fa-regular-400.woff?1601306170') format('woff'), url('../fonts/FontAwesome/fa-regular-400.svg?1601306170') format('svg'), url('../fonts/FontAwesome/fa-regular-400.woff2?1601306170') format('woff2'); }
@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/FontAwesome/fa-solid-900.eot?1601306170');
  src: url('../fonts/FontAwesome/fa-solid-900.eot?&1601306170#iefix') format('embedded-opentype'), url('../fonts/FontAwesome/fa-solid-900.ttf?1601306170') format('truetype'), url('../fonts/FontAwesome/fa-solid-900.woff?1601306170') format('woff'), url('../fonts/FontAwesome/fa-solid-900.svg?1601306170') format('svg'), url('../fonts/FontAwesome/fa-solid-900.woff2?1601306170') format('woff2');
  font-weight: 900; }
.far {
  font-family: 'FontAwesome'; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

img {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

header, section, footer, aside, nav, article, page {
  display: block; }

header.page-header-container {
  -webkit-flex-direction: column;
  flex-direction: column; }

article > h2 {
  font-size: 2.25rem;
  line-height: 1.3em; }

a {
  outline: none; }

nav ul.menu {
  list-style: none; }
header nav.menu--main {
  width: 100%; }
header nav ul.menu {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

ol {
  counter-reset: list1;
  list-style-type: none; }
  ol[start] {
    counter-reset: list1; }
  ol > li {
    display: block;
    padding-left: 2.675em;
    position: relative; }
    ol > li:before {
      counter-increment: list1;
      content: counter(list1) ".";
      min-width: 2.675em;
      display: block !important;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: right;
      padding-right: 0.535em;
      position: absolute;
      top: 0;
      left: 0; }

button, input[type="button"],
input[type="reset"], input[type="submit"], .button {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  display: inline-block; }

.owl-carousel .owl-nav button,
.owl-carousel .owl-dots button {
  outline: none; }

/*# sourceMappingURL=base.css.map */
