/*
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/
nav.tabs ul.tabs, nav.tabs ul.tabs li {
  list-style: none;
  list-style-image: none; }

.block.language-switcher-language-url .block-content ul.links {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  align-items: center; }
  .block.language-switcher-language-url .block-content ul.links li + li {
    margin-left: 10px; }
.region--page-content .block.block-local-tasks-block {
  margin-bottom: 15px; }
.block.block-hm-current-node-submitted .block-content {
  font-size: 12px; }

.field--label-inline {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: baseline;
  align-items: baseline; }
  .field--label-inline .field__label:AFTER {
    content: ':\00a0'; }

form input, form button, form select, form textarea {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  margin: 0;
  max-width: 100%;
  padding: 0 1.25em; }
form input[type="text"], form input[type="date"], form input[type="password"], form input[type="email"], form input[type="number"], form input[type="tel"], form input[type="search"], form input[type="url"], form input[type="time"], form select {
  line-height: 3rem; }
form textarea {
  line-height: normal;
  padding: 0.55em 1.25em; }
form details summary {
  outline: none;
  cursor: pointer; }
form .input-wrapper {
  display: inline-block;
  max-width: 100%; }

fieldset legend {
  width: 100%; }

input[type="checkbox"] + label, input[type="radio"] + label {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer; }

input[type="submit"] {
  -webkit-appearance: none; }

label.option {
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

.fieldset-wrapper {
  width: 100%; }

input[type="text"], input[type="date"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="search"], input[type="url"], input[type="time"], select {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  border: 1px solid #ccc; }

.webform-element--title-inline {
  display: flex;
  align-items: center; }

ul.inline, ul.links.inline {
  display: inline;
  padding-left: 0;
  /* LTR */ }
  [dir="rtl"] ul.inline, [dir="rtl"] ul.links.inline {
    padding-right: 0;
    padding-left: 15px; }
ul.inline li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em; }

.messages {
  margin-left: 8px; }

.messages {
  background-repeat: no-repeat;
  background-position: 10px 17px;
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word; }

.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../../../../core/misc/icons/73b355/check.svg);
  box-shadow: -8px 0 0 #77b259; }

.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../../../../core/misc/icons/e32700/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600; }

nav.breadcrumb ul {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav.breadcrumb ul li + li {
    margin-left: 5px; }
nav.pager ul.pager__items, nav.pager ul.pager {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  nav.pager ul.pager__items li, nav.pager ul.pager li {
    flex-shrink: 0; }
nav.menu--social-networks-links ul.menu {
  display: grid;
  grid-gap: 10px;
  grid-auto-flow: column; }
.narrow-screen-menu-container nav:not(.menu--social-networks-links) ul.menu {
  display: grid;
  grid-gap: 10px; }

.toolbar-oriented .toolbar-bar {
  z-index: 10000; }

ul.pager,
ul.pager__items,
ul.menu {
  list-style: none;
  list-style-image: none; }

.menu-burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 25px;
  height: 20px;
  position: relative; }
  .menu-burger > div {
    width: 100%;
    height: 4px;
    background: #000000;
    border-radius: 3px;
    transition: opacity .1s ease 0ms,transform .2s ease;
    transform: rotate(0deg); }
    .menu-burger > div + div {
      margin-top: 4px; }
  .menu-burger[opened] > div {
    margin: 0 !important; }
    .menu-burger[opened] > div:first-child {
      transform: rotate(-45deg);
      top: 11px;
      position: absolute; }
    .menu-burger[opened] > div:nth-child(2) {
      opacity: 0; }
    .menu-burger[opened] > div:nth-child(3) {
      transform: rotate(45deg);
      position: absolute;
      top: 11px; }

@keyframes level-1-opened {
  from {
    overflow: hidden; }
  to {
    overflow: visible; } }
nav.tabs {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif; }
  nav.tabs ul.tabs {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    position: relative; }
    nav.tabs ul.tabs.primary {
      margin: 1rem 0;
      font-size: 0.75em; }
    nav.tabs ul.tabs:BEFORE {
      content: '';
      display: block;
      background-color: #A6A6A6;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      right: 0; }
    nav.tabs ul.tabs a {
      display: block; }
    nav.tabs ul.tabs li {
      height: auto;
      width: auto;
      text-align: center;
      border: 1px solid #bfbfbf;
      border-bottom-color: #a6a6a6;
      white-space: nowrap;
      background-color: rgba(242, 242, 240, 0.7); }
      nav.tabs ul.tabs li:HOVER, nav.tabs ul.tabs li:FOCUS {
        background-color: #fafaf7; }
      nav.tabs ul.tabs li + li {
        border-left: none; }
      nav.tabs ul.tabs li:FIRST-CHILD {
        border-radius: 4px 0 0 0; }
      nav.tabs ul.tabs li:LAST-CHILD {
        border-radius: 0 4px 0 0; }
      nav.tabs ul.tabs li.is-active {
        background-color: white;
        border-bottom: white;
        z-index: 20; }
      nav.tabs ul.tabs li a {
        padding: 7px 2em 7px 2em; }

.toolbar .toolbar-bar {
  z-index: 10000; }

/*# sourceMappingURL=component.css.map */
