/*
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/
.linear-progress-container {
  bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 10000; }
  .linear-progress-container .message {
    position: absolute;
    padding: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.9);
    border-radius: 3px 3px 0 0;
    bottom: 100%; }

.linear-progress-material {
  background: rgba(200, 34, 34, 0.2);
  height: 5px;
  margin: 0 auto;
  overflow: hidden;
  animation: start 0.3s ease-in;
  max-width: 100%;
  overflow: hidden; }
  .linear-progress-material .bar {
    position: absolute;
    background: rgba(200, 34, 34, 0.9);
    transition: transform 0.2s linear;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; }
  .linear-progress-material .bar1 {
    animation: growBar1 2.5s infinite, moveBar1 2.5s infinite; }
  .linear-progress-material .bar2 {
    -webkit-animation: growBar2 2.5s infinite, moveBar2 2.5s infinite;
    animation: growBar2 2.5s infinite, moveBar2 2.5s infinite; }

@keyframes growBar1 {
  0% {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1); }
  36.6% {
    -webkit-animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1); }
  69.15% {
    -webkit-animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    -webkit-transform: scaleX(0.83);
    transform: scaleX(0.83); }
  100% {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1); } }
@keyframes moveBar1 {
  0% {
    left: -105.16667%;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear; }
  20% {
    left: -105.16667%;
    -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582);
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582); }
  69.15% {
    left: 21.5%;
    -webkit-animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635);
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635); }
  100% {
    left: 95.44444%; } }
@keyframes growBar2 {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1); }
  19.15% {
    -webkit-animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    -webkit-transform: scaleX(0.57);
    transform: scaleX(0.57); }
  44.15% {
    -webkit-animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    -webkit-transform: scaleX(0.91);
    transform: scaleX(0.91); }
  100% {
    -webkit-transform: scaleX(0.1);
    transform: scaleX(0.1); } }
@keyframes moveBar2 {
  0% {
    left: -54.88889%;
    -webkit-animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968);
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968); }
  25% {
    left: -17.25%;
    -webkit-animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372);
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372); }
  48.35% {
    left: 29.5%;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203);
    animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203); }
  100% {
    left: 117.38889%; } }
@keyframes start {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 20px;
    opacity: 1; } }
@keyframes end {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 2px;
    opacity: 1; } }
@keyframes progressLinearMovement {
  0% {
    left: -100%; }
  50% {
    left: 100%; }
  100% {
    left: 100%; } }
.text-formatted img {
  max-width: 100%;
  height: auto; }
.text-formatted figure {
  margin-left: auto;
  margin-right: auto; }
.text-formatted p:LAST-CHILD, .text-formatted ul:LAST-CHILD, .text-formatted ol:LAST-CHILD, .text-formatted blockquote:LAST-CHILD, .text-formatted img.align-center:LAST-CHILD, .text-formatted table:not(.markup):LAST-CHILD {
  margin-bottom: 0; }
.text-formatted iframe {
  max-width: 100%; }
.text-formatted ul:not(.menu):not(.contextual-links) {
  list-style-type: none;
  display: table; }
  .text-formatted ul:not(.menu):not(.contextual-links) li {
    position: relative;
    padding-left: 1.5em;
    list-style-type: none; }
    .text-formatted ul:not(.menu):not(.contextual-links) li:BEFORE {
      content: '\2022';
      position: absolute;
      top: 0;
      left: 0.5em;
      line-height: inherit; }
.text-formatted h2 {
  margin: 0.83em 0; }
.text-formatted h3 {
  margin: 1em 0; }
.text-formatted h4 {
  margin: 1.33em 0; }
.text-formatted h5 {
  margin: 1.67em 0; }
.text-formatted h6 {
  margin: 2.33em 0; }
.text-formatted table:not(.markup) {
  border-collapse: collapse;
  width: 100%; }

header .region {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
header.page-header-container {
  padding: 14px 0; }
article header {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center; }
  article header .node--submitted {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center; }
  article header .field + .field {
    margin-left: 5px; }

footer.footer-container {
  position: relative;
  z-index: 0; }

.no-wrap {
  white-space: nowrap; }

.display-none {
  display: none; }

article img {
  max-width: 100%;
  height: auto; }

.layout-content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%; }

.page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden; }

.page-main-container {
  position: relative;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  display: -webkit-flex;
  display: flex;
  margin-top: 25px; }

.page-main-container__layout-content {
  width: 100%; }

.sidebar_left {
  width: 17%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0; }

.sidebar_right {
  width: 25%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0; }

.main-content-container {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  max-width: 100%; }

h1, h2, h3,
h4, h5, h6 {
  font-weight: 500; }

h1.page-title {
  font-size: 2.25rem;
  line-height: 1.3em; }

.sidebar .block > h2 {
  font-size: 1.25rem;
  margin-bottom: 20px; }

a.button {
  text-decoration: none; }
a[href^="tel:"] {
  white-space: nowrap;
  text-decoration: none; }

.system-messages-container {
  margin: 25px 0; }

.display-flex {
  display: flex !important; }
  .display-flex.flex-wrap {
    flex-wrap: wrap; }

.justify-content--center {
  justify-content: center; }

a.site-logo {
  display: inline-block; }

details summary {
  cursor: pointer; }

.responsive-table-wrapper {
  max-width: 100%;
  overflow: auto; }
  .responsive-table-wrapper table {
    width: max-content !important; }

pre.sf-dump, pre.sf-dump .sf-dump-default {
  z-index: 1000 !important; }

.contextual[data-contextual-id^="paragraph"] button {
  background-color: #2bea26; }

.contextual[data-contextual-id^="node:"] button {
  background-color: orange; }

#totop {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  left: 16px;
  width: 66px;
  height: 66px;
  background: #af252c;
  box-shadow: 2.205px 7.69px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  font-size: 26px;
  font-weight: 900; }
  #totop.visible {
    opacity: 1;
    transform: translateY(0); }

.page-footer-regions-container {
  max-width: 100%; }

.region--footer-copyright {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.under-header-region-container {
  margin-top: 25px; }

.region--breadcrumb {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.region--footer-bottom {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

footer.page-footer-container a {
  color: inherit; }

/*# sourceMappingURL=layout.css.map */
