{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if wrapp_input %}
<div {{ wrapper_attributes }}><input{{ attributes }} /></div>{{ children }}
{% else %}
<input{{ attributes }} />{{ children }}
{% endif %}
