.text-formatted {
  img {
    max-width: 100%;
	  height: auto;
  }
  
  figure {
	  margin: {
	    left: auto;
  	  right: auto;
	  }
  }
  
  @include text-or-media-block-elements {
    &:LAST-CHILD {
      margin-bottom: 0;
    }
  }
  
  iframe {
    max-width: 100%;
  }
  
  ul:not(.menu):not(.contextual-links) {
  	list-style-type: none;
  	display: table;
  	
	  li {
	    position: relative;
  	  padding-left: 1.5em;
  	  list-style-type: none;
  	
  	  &:BEFORE {
	      content: '\2022';
  	    position: absolute;
  	    top: 0;
			  left: 0.5em;
			  line-height: inherit;
  	  }
	  }
  }

  h2 {
    margin: 0.83em 0;
  }
  
  h3 {
	  margin: 1em 0;
  }
  
  h4 {
    margin: 1.33em 0;
  }
  
  h5 {
    margin: 1.67em 0;
  }
  
  h6 {
	  margin: 2.33em 0;
  }
  
  table:not(.markup) {
	  border-collapse: collapse;
  	width: 100%;
  }
}