
header {
	
	.region {
	  @include flex-container(space-between, false);
	}
	
	&.page-header-container {
	  padding: 14px 0;
	}
	
	@at-root article & {
	  @include flex-container(flex-start, false, center);
    
    .node--submitted {
	    @include flex-container(flex-start, false, center);
    }

    .field {
    	+ .field {
	      margin-left: 5px;
    	}
    }
	}
}

footer {
	
	&.footer-container {
	  position: relative;
	  z-index: 0;
	}
}

//

.no-wrap {
	white-space: nowrap;
}

//

.display-none {
	display: none;
}

//

img {
	@at-root article & {
	  max-width: 100%;
	  height: auto;
	}
}

.layout-content {
  margin: 0 auto;
	padding: 0 15px;
	max-width: 100%;
}

.page-container {
	@include display-flex;
  @include flex-direction(column);
  min-height: 100%;
	overflow: hidden;
}

.page-main-container {
	position: relative;
	//z-index: 10;
	@include flex-grow(1);
	@include display-flex;
  margin-top: 25px;
}

.page-main-container__layout-content {
	//@include flex-container(space-between, false, stretch);
	width: 100%;
}

.sidebar_left {
	width: 17%;
	@include flex-shrink(0);
}

.sidebar_right {
	width: 25%;
	@include flex-shrink(0);
}

.main-content-container {
	@include flex-grow(1);
	max-width: 100%;
}

%headings {
  font-weight: $fw-medium;
}

h1.page-title {
	font-size: 2.25rem;
	line-height: 1.3em;
}

h2 {
	@at-root .sidebar .block > & {
	  font-size: 1.25rem;
	  margin-bottom: 20px;
	}
}

a {
	&.button {
	  text-decoration: none;
	}
	
	&[href^="tel:"] {
	  white-space: nowrap;
    text-decoration: none;
	}
}

.system-messages-container {
	margin: 25px 0;
}

.display-flex {
	display: flex!important;
	
	&.flex-wrap {
	  flex-wrap: wrap;
	}
}

.justify-content--center {
	justify-content: center;
}

a {
	&.site-logo {
	  display: inline-block;
	}
}

details {
  summary {
    cursor: pointer;
  }
}

.responsive-table-wrapper {
	max-width: 100%;
	overflow: auto;
	
	table {
	  width: max-content!important;
	}
}

pre.sf-dump, pre.sf-dump .sf-dump-default {
	z-index: 1000!important;
}

.contextual[data-contextual-id^="paragraph"] {
  button {
    background-color: #2bea26;
  }
}

.contextual[data-contextual-id^="node:"] {
  button {
    background-color: orange;
  }
}

#totop {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  cursor: pointer;
  bottom: 16px;
  left: 16px;
  width: 66px;
  height: 66px;
  background: #af252c;
  box-shadow: 2.205px 7.69px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  z-index: 99;
  transform: translateY(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  
  font: {
    size: 26px;
    weight: 900;
  }
  
  &.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
