.page-footer-regions-container {
	max-width: 100%;
}

.region {
	&--footer-copyright {
	  @include flex-container(center, true, flex-start);
	}
}

.under-header-region-container {
	margin-top: 25px;
}

.region--breadcrumb { 
	@include flex-container(space-between, true, center);
}

.region--footer-bottom {
	@include flex-container(space-between, true, center);
}

footer {
  &.page-footer-container {
    a {
      color: inherit;
    }
  }
}