/*
100 - Thin
200 - Extra Light, Ultra Light
300 - Light
400 - Normal, Book, Regular
500 - Medium
600 - Semi Bold, Demi Bold
700 - Bold
800 - Extra Bold, Ultra Bold
900 - Black, Heavy
*/

// Font weights

$fw-thin: 100;
$fw-extra-light: 200;
$fw-ultra-light: 200;
$fw-light: 300;
$fw-medium: 500;
$fw-black: 900;

$FONT_WEIGHTS_BY_NAMES: (
  thin: $fw-thin,
  extralight: $fw-extra-light,
  light: $fw-light,
  normal: 400,
  medium: $fw-medium,
  semibold: 600,
  'bold': 700,
  'black': $fw-black,
);
