.block {
	&.language-switcher-language-url {
	  .block-content {
	    ul.links {
	      list-style: none;
	      @include flex-container(flex-start, false);      
	      align-items: center;
	
	      li {
	        + li {
	          margin-left: 10px;
	        }
	      }
	    }
	  }
	}
	
	&.block-local-tasks-block {
		
		@at-root .region--page-content & {
	    margin-bottom: 15px;
		}
	}
	
	&.block-hm-current-node-submitted {
	  .block-content {
	    font-size: 12px;
	  }
	}
}