@include text-inputs {
  &:-internal-autofill-selected,
  &:-internal-autofill-previewed {
    //all: initial;
  }
}

form {
	@include form-input-and-buttons {
	  font: {
	    family: inherit;
	    size: inherit;
	  }
	  outline: none;
	  margin: 0;
	  max-width: 100%;
	  padding: 0 1.25em;

	}
	
	@include line-text-inputs {
	  line-height: 3rem;
	}
	
	textarea {
	  line-height: normal;
		padding: 0.55em 1.25em;
	}
	
	details {
	  summary {
	    outline: none;
		  cursor: pointer;
	  }
	}
	
	.input-wrapper {
	  display: inline-block;
	  max-width: 100%;
	}
}

fieldset {
  legend {
	  width: 100%;
  }  
}

input {
	&[type="checkbox"],
	&[type="radio"] {
	  + label {
	    @include user-select(none);
	    cursor: pointer;
	  }
	}
}

input[type="submit"] {
	-webkit-appearance: none;
}

label {
	&.option {
	  @include user-select(none);
	}
}

.fieldset-wrapper {
	width: 100%;
}

@include line-text-inputs {
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	border: 1px solid #ccc;
}

.webform-element--title-inline {
	display: flex;
  align-items: center;
}