
ul {
	&.inline,
	&.links.inline {
	  display: inline;
    padding-left: 0; /* LTR */
	
	  @at-root [dir="rtl"] & {
	    padding-right: 0;
      padding-left: 15px;
	  }
	}
	
	&.inline {
	  li {
	    display: inline;
		  list-style-type: none;
		  padding: 0 0.5em;
	  }
	}
}


