.messages {
	margin-left: 8px;
}

.messages {
  background: {
	  repeat: no-repeat;
	  position: 10px 17px;
  }
  border: 1px solid;
  border-width: 1px 1px 1px 0;
  border-radius: 2px;
  padding: 15px 20px 15px 35px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.messages--status {
  color: #325e1c;
  background-color: #f3faef;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent;
  background-image: url(../../../../core/misc/icons/73b355/check.svg);
  box-shadow: -8px 0 0 #77b259;
}

.messages--error {
  background-color: #fcf4f2;
  color: #a51b00;
  background-image: url(../../../../core/misc/icons/e32700/error.svg);
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent;
  box-shadow: -8px 0 0 #e62600;
}