nav {
	&.breadcrumb {
	  ul {
	    list-style: none;
	    @include display-flex;
	    @include justify-content(flex-start);
	    @include flex-wrap(wrap);
	
	    li {
	      + li {
	        margin-left: 5px;
	      }
	    }
	  }
	}
	
	&.pager {
	  ul {
	    &.pager__items,
		  &.pager {
        @include flex-container(center, true, center);
		
		    li {
	        flex-shrink: 0;
		    }
      }
	  }
	}
	
	&.menu--social-networks-links {
    ul.menu {
        display: grid;
        grid-gap: 10px;
        grid-auto-flow: column;
    }
  } // &.menu--social-networks-links

  @at-root .narrow-screen-menu-container &:not(.menu--social-networks-links) {
	  ul.menu {
	    display: grid;
  	  grid-gap: 10px;
	  }
  }
}

.toolbar-oriented .toolbar-bar {
  z-index: 10000;
}



ul.pager,
ul.pager__items,
ul.menu {
	list-style: none;
	list-style-image: none;	
}

.menu-burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  @include size(25, 20);
  position: relative;
  
  > div {
    @include size(100%, 4);
    background: #000000;
    border-radius: 3px;
    transition: opacity .1s ease 0ms,transform .2s ease;
    transform: rotate(0deg);
  
    + div {
      margin-top: 4px;
    } 
  }
  
  &[opened] {
    > div {
      margin: 0!important;
      
      &:first-child {
        transform: rotate(-45deg);
        top: 11px;
        position: absolute;
      }
      
      &:nth-child(2) {
        opacity: 0;
      }
      
      &:nth-child(3) {
        transform: rotate(45deg);
        position: absolute;
        top: 11px;
      }
    }
  }
  
}

@keyframes level-1-opened {
from {overflow: hidden;}
to {overflow: visible;}
}