nav.tabs {
	font: {
	  family: "Lucida Grande", "Lucida Sans Unicode", "DejaVu Sans", "Lucida Sans", sans-serif;
	}
	
	ul.tabs {
	  @include flex-container(flex-start, false);
	  position: relative;
	
	  &.primary {
	    margin: 1rem 0;
      font-size: 0.75em;
	  }
	
	  &, li {
	    @extend %list-style-none;
	  }
	  
	  &:BEFORE {
		  content: '';
		  display: block;
		  background-color: #A6A6A6;
		  height: 1px;
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  z-index: 10;
		  right: 0;
		}
	  
	  a {
	    display: block;
	  }
	  
	  li {
	    height: auto;
		  width: auto;
		  text-align: center;
	  	border: 1px solid #bfbfbf;
		  border-bottom-color: #a6a6a6;
	  	white-space: nowrap;
	  	background-color: rgba(242, 242, 240, 0.7);
	  	
	  	&:HOVER, &:FOCUS {
	      background-color: #fafaf7;
	  	}
	  	
	  	+ li {
	      border-left: none;
	  	}
	  	
			&:FIRST-CHILD {
			  border-radius: 4px 0 0 0;
			}
			
			&:LAST-CHILD {
			  border-radius: 0 4px 0 0;
			}
	  	
			&.is-active {
		    background-color: white;
			  border-bottom: white;
			  z-index: 20;
			}
			
	  	a {
        padding: 7px 2em 7px 2em;
	  	}
	  }
	}
}