{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% for key, item in items %}
      {% if item.in_active_trail %}
        {% set attr = attributes.addClass('has-active-trail') %}
      {% endif %}
    {% endfor %}
      <ul{{ attributes.addClass('menu').setAttribute('data-level', menu_level) }}>
    {% for key, item in items %}
      {%
        set classes = [
          'menu-item',
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
          item.below ? 'menu-item--with-childs',
        ]
      %}
      {% set link_attributes = {} %}
      {% if item.link_attributes is defined %}
        {% set link_attributes = item.link_attributes %}
      {% endif %}
      <li{{ item.attributes.addClass(classes).setAttribute('data-item-id', key|replace({':':'-', '.':'-'})|clean_id) }}>
        {% set link_content %}
          <span class="link-title">{{item.title}}</span>
          {% if item.below %}
            <span class="childs-toggle"></span>
          {% endif %}
        {% endset %}
        {{ link(link_content, item.url, link_attributes) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
