* {
  margin: 0;
  padding: 0;
	@extend %border-box;
	outline: none;
}

img {
	@include box-sizing(content-box);
}

html {
	//overflow: hidden;
}

html, body {
	//height: 100%;
}

header, section, footer, aside, nav, article, page {
  display: block;
}

header {
	&.page-header-container {
    @include flex-direction(column);
	}
}

article {
  > h2 {
    font-size: 2.25rem;
    line-height: 1.3em;
  }
}

a {
	outline: none;
}

nav {
	ul.menu {
	  list-style: none;
	}
	
	@at-root header & {
	
	  &.menu--main {
	    width: 100%;
	  }
	
	  ul.menu {
	    @include flex-container(space-between, false);
	
	    li {
	
	    }
	  }
	}
}

ol {
  counter-reset: list1;
  list-style-type: none;
  
	&[start] {
	  counter-reset: list1;
	}
	
  > li {
    display: block;
    padding-left: 2.675em; // 5 digit chars width
    position: relative;
  
    &:before {
      counter-increment: list1;
      content: counter(list1) ".";
      min-width: 2.675em;
      display: block!important;
	    @include box-sizing(border-box);
      text-align: right;
	    padding-right: 0.535em;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@include buttons {
  cursor: pointer;
	white-space: nowrap;
	text-align: center;
  vertical-align: middle;
	display: inline-block;
}
