$line-text-inputs: 'input[type="text"]',
    'input[type="date"]',
    'input[type="password"]',
    'input[type="email"]',
    'input[type="number"]',
    'input[type="tel"]',
    'input[type="search"]',
    'input[type="url"]',
    'input[type="time"]',
    'select';


@function font-weght($font_weight) {
	$font_weight: to-lower-case($font_weight);
	@if map-has-key($FONT_WEIGHTS_BY_NAMES, $font_weight) {
	  @return map-get($FONT_WEIGHTS_BY_NAMES, $font_weight);
	}
}

//
@function to-string($list, $glue: '', $is-nested: false) {
  $result: unquote("");

  @for $i from 1 through length($list) {
    $e: nth($list, $i);

    @if type-of($e) == list {
      $result: $result + unquote("#{to-string($e, $glue, true)}");
    }
    
    @else {
      $result: if($i != length($list) or $is-nested, $result + unquote("#{$e}#{$glue}"), $result + unquote("#{$e}"));
    }
  }

  @return $result;
}

@function line-text-inputs() {
  @return to-string($line-text-inputs, ', ');
}

@function form-input-and-buttons() {
	$elements-list: input, button, select, textarea;
	
	@return to-string($elements-list, ', ');
}

@function text-or-media-block-elements() {
	$elements-list: p, ul, ol, blockquote, 'img.align-center', 'table:not(.markup)';
	
	@return to-string($elements-list, ', ');
}

@function photoshop-shadow( $angle, $distance: 0, $spread: 0, $size: 0, $color: #000, $inner: false ) {
  // default to degrees, same as photoshop
  @if unitless($angle) {
    $angle: $angle * 1deg;
  }
  
  @if unitless($size) {
    $size: $size * 1px;
  }
  
  @if unitless($distance) {
    $distance: $distance * 1px;
  }

  // compass has a bug converting degrees (fixed in Compass 0.12)
  // https://github.com/chriseppstein/compass/pull/666
  @if unit($angle) == 'deg' {
    // convert to radians to avoid issues
    $angle: ((180 - ($angle/1deg)) * pi() / 180);
  }
  //TODO: other angle units, including rad, will cause issues

  // SASS doesn't do percentages cleanly
  @if not(unitless($spread)) and unit($spread) == '%' {
    // remove the percentage unit
    $spread: $spread/1%;
  } @else if $spread < 0 {
    // correct for passing the spread as a decimal
    $spread: $spread * 100;
  }

  $h-shadow: round(cos($angle) * $distance);
  $v-shadow: round(sin($angle) * $distance);
  $css-spread: $size * ($spread/100);
  $blur: $size - $css-spread;
  $inset: if($inner != false, 'inset', '');

  @return ( $h-shadow $v-shadow $blur $css-spread $color unquote($inset) );
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }

  @return $string;
}

/// Constant getter
/// @param   {String} $name - Name of constant to get
/// @return  {*}            - Constant value
/// @require $CONSTANTS
/// @throw   'Unknown constant `#{$name}`.'

@function const($name) {
  @if not map-has-key($CONSTANTS, $name) {
    @error 'Unknown constant `#{$name}`.';
  }

  @return map-get($CONSTANTS, $name);
}

@function image-url-with-fragment($image-path, $fragment) {
	@return unquote('url("' + image-url($image-path, true) + '#' + $fragment + '")');
}

@function fw-semibold() {
	@return 600;
}
