
@import "../constants/__fonts.scss";

// Form elements
@mixin form-input-and-buttons {
  #{form-input-and-buttons()} {
    @content;
  }
}

@mixin line-text-inputs {
  #{line-text-inputs()} {
    @content;
  }
}

@mixin text-inputs {
  #{line-text-inputs()}, textarea {
    @content;
  }
}

// Text elements
@mixin text-or-media-block-elements {
	#{text-or-media-block-elements()} {
	  @content;
	}
}

@mixin content-headers {
	h2, h3, h4, h5, h6 {
	  @content;
	}
}

@mixin buttons {
	button, input[type="button"], 
	input[type="reset"], input[type="submit"], .button {
	  @content;
	}
}

@mixin numered-list-item-pseudo-prexix {
	ol {
	  > li {
	    &:before {
	      @content;
	    }
	  }
	}
}
//

@mixin flex-container($justify: space-between, $wrap: true, $align-items: stretch) {
  @include display-flex;
  @include justify-content($justify);
  @if $align-items != stretch {
    @include align-items($align-items);
  }
  
  @if $wrap {
    @include flex-wrap(wrap);
  } 
}

@mixin horizontal-nav($justify: space-between, $wrap: false, $align-items: stretch) {
	@include flex-container($justify, $wrap, $align-items);
}

@mixin element-with-icon-base($icon_position: left, $icon_area_width: 0px, $icon_pseudo: auto, $icons_stripe_url: none, $icon_positioning: absolute, $h_offset: 0px, $icon_width: 0px, $icon_height: 0px) {
	
	$pseudo_av_vals: (auto, before, after);
	$pseudo_autos: (left: before, right: after);
	
	position: relative;
	padding-#{$icon_position}: $icon_area_width;
  display: inline-block;
  
  $pseudo_element: null;

  @if ($icon_pseudo == auto) {
    $pseudo_element: map-get($pseudo_autos, $icon_position);
	}
	@else {
    $pseudo_element: $icon_pseudo;
	}
	
	@if $pseudo_element != null {
	  &:#{$pseudo_element} {
	    content: '';
	    position: $icon_positioning;
      @if $pseudo_element == before {
	      left: $h_offset;
      }
      @elseif $pseudo_element == after {
	      right: $h_offset;
      }
      top: 50%;
      transform: translateY(-50%);

      @if $icons_stripe_url != none {
	      background: $icons_stripe_url 1000px 1000px no-repeat;
      }
      
      @include size($icon_width, $icon_height);
      
      @content;
	  }
	}
	
}

@mixin size($width: none, $height: same-as-width) {
	
  @if type-of($width) == 'number' and unitless($width) {
    $width: $width + 0px;
  }
  
  @if type-of($height) == 'number' and unitless($height) {
    $height: $height + 0px;
  }
	
	@if $width != none {
	  width: $width;
	}
  
  @if $height == same-as-width {
    height: $width;
  } @else if $height != none {
    height: $height;
  }
  
}

@mixin absolute-v-center {
	position: absolute;
	top: 50%;
  transform: translateY(-50%);
}

@mixin absolute-h-center {
	position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin absolute-center {
	position: absolute;
  left: 50%;
	top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@mixin border-radius-default {
	@if variable-exists(default-border-radius) {
	  border-radius: $default-border-radius;
  }
}

@mixin include_font($font-name) {
	
	$font-files: font_files_by_font_name($font-name);
	
	@each $font_weight, $font_styles in $font-files {
    //$font_weight: inspect($font_weight);
	
	  @each $font_style, $fonts in $font_styles {
	
	    $eot: false;
	    $font_files: ();
	
	    @if map-has-key($fonts, eot) {
	      $eot: map-get($fonts, eot);
	      $fonts: map-remove($fonts, eot);
	    }
	    
	    @each $font_type, $font_file in $fonts {
	      $font_files: append($font_files, $font_file, comma);
	    }
	    
	    @if map-has-key($FONT_WEIGHTS_BY_NAMES, $font_weight) {
	      $font_weight: map-get($FONT_WEIGHTS_BY_NAMES, $font_weight);
	    } @else {
	      @debug $font_weight;
	    	@debug $FONT_WEIGHTS_BY_NAMES;
	    }
	    
	    @include font-face($font-name, $font_files, $eot, $font_weight, $font_style);
	  }
	}
}

@mixin nav-pager {
	nav.pager {
	  @content;
	}
}

@mixin nav-pager-items {
	@include nav-pager {
	  ul.pager__items {
	    @content;
	  }
	}
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($property, $min-vw, $max-vw, $min-value, $max-value) {
  //@each $property in $properties {
    #{$property}: $min-value;
  //}

  @media screen and (min-width: $min-vw) {
    //@each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    //}
  }

  @media screen and (min-width: $max-vw) {
    //@each $property in $properties {
      #{$property}: $max-value;
    //}
  }
}

@mixin photoshop-drop-shadow ($angle, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  @include box-shadow(photoshop-shadow($angle, $distance, $spread, $size, $color));
}

@mixin google-font( $font-name, $font-weights: null, $languages: null ) {

    $url: "https://fonts.googleapis.com/css?family=#{str-replace($font-name, " ", "+")}";

    @if $font-weights {
        $url: $url + ':' + $font-weights;
    }

    @if $languages {
        $url: $url + '&subset=' + $languages;
    }

    $url: $url + '&display=swap';
    
    @import url( $url );
    
    // generate css class for this font
    $font-css-class: unquote('ff-#{to-lower-case(str-replace($font-name, " ", "-"))}');
    
    .#{$font-css-class} {
	    font-family: quote($font-name);
    }
}

/// Constant setter
/// @param   {String} $name  - Name of constant to get
/// @param   {*}      $value - Constant value
/// @return  {*}             - Constant value
/// @require $CONSTANTS
/// @output  Nothing

@mixin const($name, $value) {
  @if map-has-key($CONSTANTS, $name) {
    @error 'Constant `#{$name}` already defined.';
  }

  $CONSTANTS: map-merge(($name: $value), $CONSTANTS) !global;
}

@mixin width-max-content() {
	
	width: -moz-max-content;
	width:      max-content;
}

@mixin appearance($appearance) {
  -webkit-appearance: $appearance;
     -moz-appearance: $appearance;
          appearance: $appearance;
}

//

@mixin full-width {
	margin-left: -100vw;
  margin-right: -100vw;
  padding-left: 100vw;
  padding-right: 100vw;
}

@mixin circle($diameter) {
  @include size($diameter);
	border-radius: 50%
}
