%list-style-none {
	list-style: none;
  list-style-image: none;
}

%border-box {
	@include box-sizing(border-box);
}

%zero-font {
	font-size: 0;
	line-height: 0;
}

h1, h2, h3,
h4, h5, h6 {
    @extend %headings !optional;
}
