
@function implode($pieces, $glue: "") {
  $result: null;
  @for $i from 1 through length($pieces) {
    $piece: nth($pieces, $i);
    @if type-of($piece) == list {
      $result: unquote("#{$result}#{$glue}#{implode($piece, $glue)}");
    } @else {
      $result: unquote("#{$result}#{$glue}#{$piece}");
    }
  }
  @if $result != null {
    $result: str-slice($result, str-length($glue) + 1, -1);
  }
  @return $result;
}

@function getBreakpointSettings($breakpoint) {
	
	$breakpoint-settings: null;
	
	@if not variable-exists(breakpoints) {
    @warn "$breakpoints variable not defined!";
    @return null;
  }
  
  @if not map-has-key($breakpoints, $breakpoint) {
    @warn "Breakpoint `#{$breakpoint}` not defined in `$breakpoints` map.";
    @return null;
  }
  
  $breakpoint-settings: map-merge((
    type: screen,
    
  ), map-get($breakpoints, $breakpoint)); 
	
	@return $breakpoint-settings; 
} 

@function getBreakpointOptionValue($breakpoint, $optionName) {
	
	@return null;
}

@function responderGetBreakpointMediaQuery($breakpoint) {
	
	$breakpoint-settings: getBreakpointSettings($breakpoint);

	@if $breakpoint-settings == null {
	  @return null;
	}
	
  $query: 'only ' + map-get($breakpoint-settings, type);
  $expressions: ();
    
	@if  map-has-key($breakpoint-settings, query) {
	  $query: map-get($breakpoint-settings, query);
	}
  @else if map-has-key($breakpoint-settings, width) {
  	$bpWidth: map-get($breakpoint-settings, width);

    @if map-has-key($bpWidth, min) {
    	$minWidth: map-get($bpWidth, min);
      @if unitless($minWidth) {
        $minWidth: $minWidth + 0px;
      }
	    $expressions: append($expressions, unquote("(min-width: #{$minWidth})"));
    }
    
    @if map-has-key($bpWidth, max) {
    	$maxWidth: map-get($bpWidth, max);
    	@if unitless($maxWidth) {
	      $maxWidth: $maxWidth + 0px;
    	}
      $expressions: append($expressions, unquote("(max-width: #{$maxWidth})"));
    }
    
	  @if length($expressions) > 0 {
	    $expressions_string: implode($expressions, ' AND ');
	    $query: $query + ' AND ' + $expressions_string;
	  }
  }
  
  @return $query;
}



@mixin respond-to($breakpoint, $condition: 'max-width') {
	
	$bpMediaQuery: null;
	
	@if type-of($breakpoint) == 'number' {
	  @if unitless($breakpoint) {
	    $breakpoint: $breakpoint + 0px;
	  }
	
	  $bpMediaQuery: "only screen and (#{$condition}: #{$breakpoint})";
  }
  @else {
	  $bpMediaQuery: responderGetBreakpointMediaQuery($breakpoint);
  }
	
	
	@if $bpMediaQuery != null {
    @media #{$bpMediaQuery} {
	    @content;
    }
	}
}

@mixin respond-to-below($breakpoint) {
	
  $breakpoint-settings: getBreakpointSettings($breakpoint);

  @if $breakpoint-settings != null {
    //@if map-has-key
  }
	
}
