{%
  set classes = [
    'menu-toggle',
    'menu-burger',
  ]
%}
<div {{ attributes.addClass(classes).setAttribute('data-slave-block-id', slave_menu_block_id) }}>
  <div></div>
  <div></div>
  <div></div>
</div>