{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div id="page" class="page-container">
  {% if page.over_page %}
  <div class="over-page-container">
    <div class="layout-content">
      {{ page.over_page }}
    </div>
  </div>
  {% endif %}
  {% if page.toolbar %}
  <div id="page-toolbar" class="page-toolbar-container">
      <div class="layout-content">
        {{ page.toolbar }}
      </div>
      {% if page.narrow_screen_expandable_toolbar %}
      <div id="narrow-screen-expandable-toolbar" class="page-narrow-screen-expandable-toolbar-container">
        {{ page.narrow_screen_expandable_toolbar }}
      </div>
      {% endif %}
  </div>
  {% endif %}
  {% if page.over_header %}
  <div class="over-header-container">
    <div class="layout-content">
      {{ page.over_header }}
    </div>
  </div>
  {% endif %}
  <header id="header" class="page-header-container" aria-label="{{ 'Site header'|t }}">
    {% if page.header_top %}
    <div class="header-top header-container__header-top">
        <div class="layout-content header-top__layout-content">
          {{ page.header_top }}
        </div>
    </div>
    {% endif %}
    {% if page.header %}
    <div class="header-midle-container">
        <div class="layout-content">
          {{ page.header }}
        </div>
    </div>
    {% endif %}
    {% if page.header_bottom %}
    <div class="header-bottom-container">
        <div class="layout-content">
          {{ page.header_top }}
        </div>
    </div>
    {% endif %}
  </header>
  {% if page.narrow_screen_menu_top or page.narrow_screen_menu or page.narrow_screen_menu_bottom %}
  <div class="narrow-screen-menu-container display-none">
    <div class="narrow-screen-menu-regioins-container">
      {% if page.narrow_screen_menu_top %}
        {{ page.narrow_screen_menu_top }}
      {% endif %}
      {% if page.narrow_screen_menu %}
        {{ page.narrow_screen_menu }}
      {% endif %}
      {% if page.narrow_screen_menu_bottom %}
        {{ page.narrow_screen_menu_bottom }}
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="under-header-separator"></div>
  {% if page.under_header %}
  <div id="under-header" class="under-header-region-container">
    <aside class="layout-content" role="complementary">
      {{ page.under_header }}
    </aside>
  </div>
  {% endif %}
  {% if page.featured_top %}
  <div class="featured_top">
    <aside class="layout-content" role="complementary">
      {{ page.featured_top }}
    </aside>
  </div>
  {% endif %}
  {% if page.breadcrumb %}
    <div class="breadcrumbs-container">
      <div class="layout-content">
        {{ page.breadcrumb }}
      </div>
    </div>
  {% endif %}
  <div class="page-main-container">
    <div id="main" class="layout-content page-main-container__layout-content">
      {% if page.sidebar_left %}
        <div id="sidebar-left" class="column sidebar sidebar_left">
          <aside class="section">
            {{ page.sidebar_left }}
          </aside>
        </div>
      {% endif %}
      <div class="main-content-container">
        {% if page.highlighted %}
          <div class="highlighted" role="complementary">
            {{ page.highlighted }}
          </div>
        {% endif %}
        <main id="content">
            <a id="main-content" tabindex="-1"></a>
            {{ page.over_title }}
            {{ page.title }}
            {{ page.page_content }}
            {{ page.under_content }}
        </main>
      </div>
      {% if page.sidebar_right %}
        <div id="sidebar-right" class="column sidebar sidebar_right">
          <aside class="section">
            {{ page.sidebar_right }}
          </aside>
        </div>
      {% endif %}
    </div>
  </div>
  {% if page.featured_bottom %}
  <div class="featured_bottom">
    <aside class="layout-content" role="complementary">
      {{ page.featured_bottom }}
    </aside>
  </div>
  {% endif %}
  <footer id="page-footer" class="page-footer-container footer-container">
    <div class="page-footer-regions-container">
    {% if page.footer_top %}
      <div class="footer-top-container">
        <div class="layout-content">
          {{ page.footer_top }}
        </div>
      </div>
    {% endif %}
    {% if page.footer %}
      <div class="footer-content-container footer-container__footer-content-container">
        <div class="layout-content footer-content-container__layout-content">
          {{ page.footer }}
        </div>
      </div>
    {% endif %}
    {% if page.footer_bottom %}
      <div class="footer-bottom-container">
        <div class="layout-content">
          {{ page.footer_bottom }}
        </div>
      </div>
    {% endif %}
    {% if page.footer_bottom_2 %}
      <div class="footer-bottom-2-container">
        <div class="layout-content">
          {{ page.footer_bottom_2 }}
        </div>
      </div>
    {% endif %}
    </div>
  </footer>
</div>{# /#page #}